* {
	font-family: Helvetica, Arial, sans-serif;
	color: #ddd;
	text-align: left;
}

:global(.bold) {
	font-weight: 400;
}

:global(.header) {
	background-color: blue;
}

::placeholder {
  color: gray;
}

.red {
  color: red;
}
